
<style>
    .chart-box {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: #f9f9f9; */
        border-radius: 8px;
        padding: 2rem;
        height: 100%; /* Added explicit height */
        min-height: 0; /* Added to ensure flex child can shrink */
        flex: 1;
        /* overflow-y: auto; */
    }
    .p-stepper {
            flex-basis: 50rem;
        } 
</style>
<p-toast></p-toast>
<div style="display: flex;flex-direction: row;justify-content: space-between;">
    <h4>Load documents</h4>
    <p-button icon="pi pi-cloud-upload" label="Close Month" severity="secondary" [raised]="true" [disabled]="!(uploadedBankStatements.length>0)"/>
</div>


<p-tabView>
    <p-tabPanel header="Load Bank Statements">
        <div class="chart-box">
            <p-fileupload 
                name="demo[]" 
                [customUpload]="true"
                (uploadHandler)="onBankStatementsUpload($event)" 
                [multiple]="true"
                accept=".pdf,.csv,.xlsx,image/*" 
                maxFileSize="100000000" 
                mode="advanced">
                <ng-template #empty>
                    <div style="display: flex;justify-content: center">Drag and drop files to here to upload.</div>
                </ng-template>
                <ng-template #content>
                    <ul *ngIf="uploadedBankStatements.length">
                        <li *ngFor="let file of uploadedBankStatements">{{ file.name }} - {{ file.size }} bytes</li>
                    </ul>
                </ng-template>
            </p-fileupload>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Load Invoices">
        <div class="chart-box">
            <p-fileupload 
            name="demo[]" 
            url="https://www.primefaces.org/cdn/api/upload.php" 
            (onUpload)="onInvoicesUpload($event)" 
            [multiple]="true" 
            accept=".pdf,.csv,.xlsx,image/*" 
            maxFileSize="100000000" 
            mode="advanced">
                <ng-template #empty>
                    <div style="display: flex;justify-content: center">Drag and drop files to here to upload.</div>
                </ng-template>
                <ng-template #content>
                    <ul *ngIf="uploadedInvoices.length">
                        <li *ngFor="let file of uploadedInvoices">{{ file.name }} - {{ file.size }} bytes</li>
                    </ul>
                </ng-template>
            </p-fileupload>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Load Expenses">
        <div class="chart-box">
            <p-fileupload 
            name="demo[]" 
            url="https://www.primefaces.org/cdn/api/upload.php" 
            (onUpload)="onUploadExpenses($event)" 
            [multiple]="true" 
            accept=".pdf,.csv,.xlsx,image/*" 
            maxFileSize="100000000" 
            mode="advanced">
                <ng-template #empty>
                    <div style="display: flex;justify-content: center">Drag and drop files to here to upload.</div>
                </ng-template>
                <ng-template #content>
                    <ul *ngIf="uploadedExpenses.length">
                        <li *ngFor="let file of uploadedExpenses">{{ file.name }} - {{ file.size }} bytes</li>
                    </ul>
                </ng-template>
            </p-fileupload>
        </div>
    </p-tabPanel>
</p-tabView>